<% @teams.each do |team| %>
  <div class="card"     >
    <%= image_tag url_for(team.image), class: 'card-img-top' %>
    <div class="card-body">
      <%= link_to team.name, team, class: 'card-text' %>
    </div>
  </div>
<% end %>