<div class="col">
  <% @teams.each do |team| %>
    <%= image_tag url_for(team.image), class: 'img-thumbnail' %>
    <p><%= link_to team.name, team, class: 'btn btn-link' %></p>
  <% end %>
</div>

<%== pagy_nav(@pagy) %>