<div class="container-fluid">
  <summary>Shopping Cart</summary>
  <% if @cart.empty? %>
    <p>No items in cart</p>
  <% else %>
    <ul>
      <% @cart.each do |jersey| %>
        <li> x <%= jersey.name %> - <%= link_to 'remove', remove_from_cart_path(jersey), method: :delete %></li>
      <% end %>
    </ul>
  <% end %>
</div>
