<div class="container-fluid">
  <summary>Shopping Cart</summary>
  <% if @cart.empty? %>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <p>No items in cart</p>
  <% else %>
    <ul>
      <% @cart.each do |jersey| %>
        <li><%= jersey.name %> - <%= link_to 'remove', remove_from_cart_path(jersey), method: :delete %>     <%= number_to_currency jersey.price %></li>
      <% end %>
    </ul>
  <% end %>
</div>
