<% @jerseys.each do |jersey| %>
  <div>
    <%= image_tag url_for(jersey.image), class: 'img-thumbnail' if jersey.image.present? %>
    <div>
      <p><%= jersey.name %></p>
      <p><%= jersey.price %></p>
    </div>
  </div>
<% end %>

<%== pagy_nav(@pagy) %>