<h1>Jerseys#index</h1>

<% @jerseys.each do |jersey| %>
  <div>
    <img <%= image_tag url_for(jersey.image) %> >
    <div>
      <p><%= jersey.name %></p>
      <p><%= jersey.price %></p>
    </div>
  </div>
<% end %>