<p><%= pluralize(@jerseys.size, 'result') %> for '<%= @query %>'</p>

<div class="card-deck">
  <% @jerseys.each do |jersey| %>
    <div class="card">
    <%= image_tag url_for(jersey.image), class: 'card-img-top', alt: jersey %>
    <div class="card-body">
      <%= link_to jersey.name, jersey, class: 'card-text' %>
    </div>
    </div>
  <% end %>
</div>