<%= image_tag url_for(@jersey.image), class: 'img-thumbnail' %>
<h2><%= @jersey.name %></h2>
<p><%= number_to_currency @jersey.price %></p>
<button type="button" class="btn btn-info">Add to Cart</button>