
 $main-text: black;
 $light-text: white;

 .navbar {
    background-color: #e0e0e031;
 }

body {
    font-family: 'Roboto Mono', monospace;
    color: $main-text;
    letter-spacing: 1px;
}

%unemphasized-link {
    a, a:link, a:visited {
        text-decoration: none;
    }
}

a.card-text{
    @extend %unemphasized-link;

    color: $main-text;
}

.pagination {
    display: inline-block;

    & a {
        color: $main-text;
        padding: 8px 16px;
        font-weight: none;
        font-family: 'Roboto Mono', monospace;
    }

    & a:hover:not(.active) {
        background-color:$main-text;
        color: $light-text;
    }
}
